{%load static%}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>AcrossLandsExpressMail — Post a Flight</title>

  <!-- Fonts -->
  <link rel="stylesheet" href="{%static 'mainapp/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'mainapp/free_user.css' %}">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Poppins:wght@600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0" />


</head>
<body>
    {%include 'navbar2.html'%}

<main class="wrap" role="main" aria-label="Post a Flight">
      <button class="mobile-back" onclick="history.back()">← Back</button>

  <h1>Post a Flight</h1>
  <div class="addform">
     <h1>403</h1>
    <p>Oops! {{messages}}.</p>
    <a href="/" class="btn-submit">Go Back Home</a>
  </div>

</main>
<!-- Mobile Bottom Nav -->
<nav class="mobile-bottom-nav">
  <a href="/" class="nav-item"><i class="fas fa-home"></i></a>
  <a href="/search/find_users" class="nav-item"><i class="fa fa-users"></i></a>
  <a href="/search/flights" class="nav-item"><i class="fas fa-search"></i></a>
  <a href="/add" class="nav-item center-btn"><i class="fas fa-plane"></i></a>
  <a href="/notifications" class="nav-item notifiy-btn"><i class="fa fa-bell" aria-hidden="true"><span class="badge" id="notifcountmobile"></span></i></a>
  <a href="/chat/chats/" class="nav-item"><i class="fa fa-comment" aria-hidden="true"></i></a>
  <a href="/profile/{{request.user}}" class="nav-item"><i class="fas fa-user"></i></a>
</nav>

</body>
</html>
